{% extends 'base.html.twig' %}
{% form_theme form '@App/Atom/fields.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            {% if app.session.flashbag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashbag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
            {% if app.session.flashbag.has('warning') %}
                <div class="alert alert-danger">
                    {% for msg in app.session.flashbag.get('warning') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class=" col-md-offset-4 col-md-4">
                <h2>Periodic Table</h2>
                <form action="{{ path('createAtom') }}" method="POST">
                    {{ form_row(form.atomicNumber) }}
                    {{ form_row(form.elementName) }}
                    {{ form_row(form.atomicWeight) }}
                    {{ form_row(form.symbol) }}
                    {{ form_rest(form) }}
                    <button type="submit" class="btn btn-default btn-primary"
                            name="submit_atom" id="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}